/* */
/* All styles for SVGs */
.st0_seagull{fill:#4d4d4d;}

.st0_octopus{fill:#C62405;}
.st1_octopus{fill:#5B5959;}

.st0_pirateship{fill:#383838;}
.st1_pirateship{fill:#642D10;}
.st2_pirateship{fill:#000000;}

.st0_iceberg{fill:#005F94;}

.st0_diamond{fill:#FFCB05;}

.st0_island{fill:#4BB749;}
.st1_island{fill:#FAEE39;}
.st2_island{fill:#2D419A;}

.wavepattern{fill:#0667B7;}

.islandbackground{fill:lightyellow;}
.islandsand{fill:#D2B48C;}

.st0_maelstrom{fill:#0000CC;}

.st0_treasure{fill:#997F60;}
.st1_treasure{fill:#FF0000;}
.st2_treasure{fill:#FFCC00;}
.st3_treasure{fill:#000000;}

.st0_splash{fill:#36328A;}

#svg-1
{
  margin: 0 auto;
  display: block;
}
.st0_cluds{fill:#5B5959;
    opacity:0.90
    }
.st0_lightening{fill:#FFED00;}

.st0_explosion{fill:#F9B233;}
.st1_explosion{fill:#E30613;}

.bg-1 { 
    background-color: #fbf3d4; /* Sand color*/
    color: #000000;
}
.bg-2 { 
    background-color: #ffffff; /* Sand color*/
    color: #000000;
}
@font-face {
    font-family: 'OldBook'; /*name of the Font*/
    src: url("https://www.geos.ed.ac.uk/~s1788971/pirateFont/OLD.ttf"); /*URL to font*/
}
h1 {
    text-align:center;
    vertical-align:top;
    color: darkred;
    text-shadow: 2px 2px 5px grey;
    font-family: OldBook;
    font-size: 380%;
}
/* Not working at the moment with the <small> */  
h2 { 
    text-align:left;
    color: darkred;
    text-shadow: 2px 2px 5px grey;
    font-family: OldBook;
    font-size: 180%;    
}
h3 { 
    text-align:left;
    color: darkred;
    font-family: Papyrus;
    font-size: 140%;
	font-weight: bold;    
}
p, form, btn{
font-family: Papyrus;
}
btn-default{
font-family: Papyrus;
}
/* Tables in the "table" page */
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
	border: none;
	font-family: Papyrus;
	font-weight: bold;
	text-align:center;
}
.table-intro > tbody > tr > td, 
.table-intro > tbody > tr > th,
.table-intro > tfoot > tr > td,
.table-intro > tfoot > tr > th,
.table-intro > thead > tr > td,
.table-intro > thead > tr > th {
	border: none;
	font-family: Papyrus;
	font-weight: bold;
	text-align:left;
	margin: auto;
    float: none;
}
#table-intro2
{
	font-family: Papyrus;
	text-align:center;
}
.left_img {
    display: block;
    max-width: auto;
    margin-left: auto;
    margin-right: 3%;
    float: right;
    padding: 2%;
}
.right_img {
    display: block;
    max-width: auto;
    margin-left: 3%;
    margin-right: auto;
    float: left;
    padding: 2%;
}
#cloud-vis{
  -webkit-transition: opacity 0.5s; /*(duplication for different browsers)*/
  -moz-transition: opacity 0.5s;
}
.container-fluid {
padding-top: 15px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 15px;
border: 5px solid black;
border-top-left-radius: 20em 7em;
border-top-right-radius: 7em 60em;
border-bottom-right-radius: 40em 7em;
border-bottom-left-radius: 6em 90em;
background-color: #fbf3d4;
background: radial-gradient(#fbf3d4, #fbf3d4, grey);
}
.bg-1 {
background-color: black;
}
.resize_horizontal{
 width:100%;
}
.resize_vertical{
 height:8%;
}
.form-steps{
height: 30px;
margin-right: 2px;
background-color: #E6B0AA;
padding-left: 5px;
box-sizing: border-box;
border: none;
font-size: 16px;
width: 40px;
}
.form-steps:focus{
background-color: #D98880;
}
.form-dir{
height: 30px;
margin-left: 5px;
margin-right: 1px;
background-color: #E6B0AA;
box-sizing: border-box;
border: none;
font-size: 16px;
width: 40px;
}
.form-dir:focus{
background-color: #D98880;
}
.btn-default{
height: 35px;
border-radius: 0px;
background-color: #E6B0AA;
border: none;
font-size: 16px;
margin-left: 5px;
font-family: Papyrus;
padding-top: 10px;
}
.btn-small{
height: 25px;
border-radius: 0px;
background-color: #e0dabe;
border: none;
font-size: 14px;
margin-bottom: 10px;
padding-top: 5px;
padding-bottom: 2px;
padding-left: 5px;
padding-right: 5px;
font-family: Papyrus;
}
.btn-small:hover,
.btn-small:focus{
background-color: lightgrey;
}
.btn-default:hover,
.btn-default:focus{
background-color: #D98880;
}
.round {
border-radius: 50%;
height: 30px;
float: right;
padding-top: 7px;
margin-right: 10%;
}
/* On small screens, set height to 'auto' for content */
@media screen and (max-width: 992px) {
.row.content {height:auto;}
}

/******MODAL*******/

/* Modal (background) */
.modal {
display: none; /* Hidden */
position: fixed; /* Stay in the same place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Scroll if needed */
background-color: rgba(0,0,0,0.5); /* Black background with 0.5 opacity */
}
/* Modal Content */
.modal-content {
position: relative;
max-width: 600px;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #585858;
width: 80%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop; /* Animation of modal content box */
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s;
}
/* Add Animation that the box seems to be falling down and fading in*/
@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}
/* Safari and Chrome*/
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}
/* Style of the modal close button */
.close {
color: white;
font-size: 35px;
}
/* style of the close button on hover */
.close:hover,
.close:focus {
color: lightgrey;
cursor: pointer;
}
/* Modal Header */
.modal-header {
padding: 7px 20px;
background-color: #585858;
}
/* Modal Body */
.modal-body {
padding: 10px 20px;
background-color: #fbf3d4;
}
/* Modal Footer */
.modal-footer {
padding: 20px 10px;
background-color: #585858;
}