Content-Type: text/html

<!DOCTYPE html>

<html lang="en">
  <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Pirate Island</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Styles for Fields and Finds -->
  <link rel="stylesheet" href="https://www.geos.ed.ac.uk/~s1788971/pirateStylesheet/piratestylesheet.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Enable Mobile Support -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body class="bg-1">


<!-- HEADER ROW -->
<div class="container-fluid bg-1">
        <div class="row">
        <!-- EMPTY -->
            <div class="col-xs-3 ">
                <img class="left_img" src="https://www.geos.ed.ac.uk/~s1788971/pirateImages/Cannon.png" alt="Cannon" style="width:60%">
            </div>
        <!-- TITLE -->
            <div class="col-xs-6">
                <h1>WELCOME TO PIRATE ISLAND</h1>
            </div>
        <!-- EMPTY -->
            <div class="col-xs-3">
                <img class="right_img" src="https://www.geos.ed.ac.uk/~s1788971/pirateImages/Flag.png" alt="PirateFlag" style="width:40%">
            </div>
        </div>
    <br/>
<!-- INSTRUCTIONS --> 
    <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row content">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img class="resize_horizontal" src="https://www.geos.ed.ac.uk/~s1788971/pirateImages/Pergamena.png" />
            </div>
            <div class="col-md-2"></div>
        </div>  
    </div> 
    <div class="col-md-1"></div>   
    </div>
<!-- BUTTONS --> 
    <div class="row">
    <div class="col-md-5"></div>
        <div class="col-md-2">
        <p title="Click here to start the game">
        <a href="">
        <img class="resize_vertical" src="https://www.geos.ed.ac.uk/~s1788971/pirateImages/Button2.png" alt="Start Game"></a>
    </div> 
    <div class="col-md-2">
        <p title="Click here to start the game">
        <a href="https://www.geos.ed.ac.uk/~s1783947/cgi-bin/pirate/main.py">
        <img class="resize_vertical" src="https://www.geos.ed.ac.uk/~s1788971/pirateImages/Button.png" alt="Start Game"></a>
    </div> 
    <div class="col-md-3"></div>   
    </div>
    
</div>
  </body>
</html>