Content-Type: text/html

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Pirate Island</title>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- Styles for Fields and Finds -->
    <link rel="stylesheet" href="https://www.geos.ed.ac.uk/~s1788971/piratestylesheet.css">
    <link rel="stylesheet" href="https://www.geos.ed.ac.uk/~s1783947/webmapping/pagestyles.css">
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- Load Support for Javascript datepicker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <!-- Enable Mobile Support -->
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- control Script for sending information to python code -->
    <script>
      $(function()
      {
        $('#clickme').click(function(){
          alert('Im going to start processing');
                
          $.ajax({
            url: "validate.py",
            type: "post",
            datatype:"json",
            data: {'Person1':'Marco','Person2':'Livia','Person3':'Callum'},
            success: function(response){
              alert(response.message);
              //alert(response.keys);
              for (var key in response.data) {
                alert(response.data[key]);
              };
            //alert(response.data['Person1']);
            //alert(response.data['Person2']);
            }
          })
        });
      });
    </script>  
  </head>
    
  <body>
  
  <!-- SVG Patterns -->
  <svg width=0 height=0>  
  <defs>
	<pattern id="wavepattern" class="wavepattern" x="0" y="0" width="2" height="0.8" patternUnits="userSpaceOnUse" viewBox="-1164 653.8 806.1 95.3">
      <path d="M-1164,667.9c36.2,52.5,83.8,81.3,134.4,81.3c50.5,0,98.1-28.8,134.4-81.3c36.2,52.5,83.8,81.3,134.4,81.3 c50.5,0,98.1-28.8,134.4-81.3c36.2,52.5,83.8,81.3,134.4,81.3s98.1-28.8,134.4-81.3v-14l-2.3,3.5c-35.3,52.8-82.1,81.8-132,81.8 s-96.7-29.1-132-81.8l-2.3-3.5l-2.3,3.5c-35.3,52.8-82.1,81.8-132,81.8c-49.9,0-96.7-29.1-132-81.8l-2.3-3.5l-2.3,3.5 c-35.3,52.8-82.1,81.8-132,81.8c-49.9,0-96.7-29.1-132-81.8l-2.3-3.5L-1164,667.9L-1164,667.9z"/>
	</pattern>
	<pattern id="sandpattern" x="0" y="0" width="0.2" height="0.2" patternUnits="userSpaceOnUse" viewBox="0 0 10 10">
      <rect class="islandbackground" id="1" x="0" y="0" width="10" height="10"/>
	  <circle class="islandsand" id="3" cx="5" cy="5" r="1.5"/>
	</pattern>
  </defs>
  </svg>
   <!-- End Patterns -->
  
  <br>
  Arrrrr me hearties, welcome to Pirate Island
  <br>
  <br>
  <button id="clickme"> Validate Route </button>
  <br>
  <br>
  {{paramList}}
  </body>
</html>
